.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 64px 24px 64px;
  font-family: sans-serif;
  position: relative;
  box-sizing: border-box;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0;
  text-align: center;
}

.selectBox {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-top: 16px;
}

.button:hover:enabled {
  background-color: #2563eb;
}

.participatedButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #9ca3af;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
  margin-top: 16px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

/* group内のボタンだけ均等幅 */
.buttonGroup .button,
.buttonGroup .absentButton {
  flex: 1;
}

.absentButton {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d1d5db;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 16px;

}

.absentButton:hover:enabled {
  background-color: #9ca3af;
}

.absentButton:disabled {
  background-color: #e5e7eb;
  color: #999;
  cursor: not-allowed;
}

.calendarWrapper {
  margin-top: 24px;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  justify-content: center;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.detail {
  margin-top: 24px;
  padding: 16px;
  background-color: #f9fafb;
  border-radius: 8px;
}

.dateTitle {
  font-weight: bold;
  margin-bottom: 12px;
}

.noReservation {
  font-size: 14px;
  color: #666;
}

.reservationList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.reservationItem {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #ffffff;
}

.reservationInfo {
  display: block;
  margin-bottom: 2px; 
}

.row {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.memo {
  margin-top: 4px;
  font-size: 13px;
  color: #374151;
}

.timeAndCapacity {
  font-weight: bold;
  font-size: 14px;
}

.lessonType {
  font-size: 13px;
  color: #555;
}

.lessonMark {
  font-size: 14px;
  color: #000000;
}

.lessonContent {
  flex: 1;
  font-size: 14px;
  line-height: 1.5;
}

.createdAt {
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}

.fullLabel {
  color: white;
  background-color: red;
  font-size: 12px;
  padding: 2px 6px;
  margin-left: 8px;
  border-radius: 4px;
  font-weight: bold;
}
